<div class="recipepage">
  <div class="content">
      <h1>Recipe Portal</h1>

      <div class="menu">
        <li><a href=<%= user_path(current_user) %> class="menuitem">Profile</a></li>
        <li><a href=<%= ingredients_path %> class="menuitem">Ingredients</a></li>
        <li> <%= link_to "Log out", logout_path, {method: :delete, :class=>"menuitem"} %> </li>
      </div>

      <div class="search">
        <%= form_tag recipes_path, method: :get do %>
          <%= text_field_tag(
              :search,
              params[:search],
              placeholder: "Search cocktails!",
          ) %>
          <%= submit_tag "Search" %>
        <% end %>
      </div><br>

      <p>
        Feel free to browse through our extensive collection of incredible cockatail
        recipes! Our database is updated regularly so you can continue to explore
        your current and future drinks of choice!
      </p><br>

      <h2>Collection of Cocktails 🍸</h2>

      <ul class="recipe-list">
        <% @recipes.each do |recipe| %>
        <li><%= link_to recipe.name, recipe_path(recipe) %></li><br>
        <% end %>
      </ul>
  </div>
</div>
