<div class="container">

<h1>Recipe Portal</h1>
<div> <%= link_to "Home", recipes_path %>
</div><br>

<%= form_tag recipes_path, method: :get do %>
  <%= text_field_tag(
      :search,
      params[:search],
      placeholder: "Search cocktails!",
  ) %>
  <%= submit_tag "Search" %>
<% end %>

<p>
  Feel free to browse through our extensive collection of incredible cockatail
  recipes! Our database is updated regularly so you can continue to explore
  your current and future drinks of choice!
</p>

<ul>
  <% @recipes.each do |recipe| %>
  <li><%= link_to recipe.name, recipe_path(recipe) %></li><br>
  <% end %>
</ul>
</div>
