<div class="cocktail">

<h1><%= @recipe.name %></h1>

<!-- picture -->

<img src="<%= @recipe.img_url %>" alt=""><br><br>

Occasion: <%= @recipe.occasion %><br><br><br>
Category: <%= @recipe.category %><br><br><br>
Instructions: <%= @recipe.instructions %><br><br><br>
Glassware: <%= @recipe.glass %><br><br><br>
Ingredients: <br><br>
<% @recipe.recipe_ingredients.each do |ing| %>
  <ul>
    <%= link_to "#{ing.measurement} #{ing.ingredient.name}", ingredient_path(Ingredient.find(ing.ingredient_id)) %>
  </ul>
<% end %>
<%= button_to "Add to FAVES OMG", {action: 'add_to_favorites'}, method: :post %><br><br>
If you liked this, we recommend the following: <br><br>
<% @recipe.recommendations.each do |recommendation| %>
  <ul>
    <%= link_to recommendation.name, recipe_path(recommendation) %>
  </ul>
<% end %>
