<h1><%= @recipe.name %></h1>

<!-- picture -->

<img src="<%= @recipe.img_url %>" alt=""><br><br>

Occasion: <%= @recipe.occasion %><br><br><br>
Category: <%= @recipe.category %><br><br><br>
Instructions: <%= @recipe.instructions %><br><br><br>
Glassware: <%= @recipe.glass %><br><br><br>
