<% if @user.errors.any? %>
  <p>Please correct the following errors before submitting:</p>
    <ul>
      <% @user.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
<% end %>

<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %><br><br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.password_field :password_confirmation %><br><br>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %><br><br>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %><br><br>
  <%= f.label :birthdate %>
  <%= f.date_select :birthdate, start_year: 1970, end_year: Date.today.year %><br><br>
  <%= f.submit %>
<% end %>
