<div class="profilepage">

<h1>Welcome to your profile, <%= @user.full_name %>!</h1><br><br>

<h2>FAVORITES</h2>
<div>
  <% @favorites.each do |f| %>
    <li><%= link_to f.name, recipe_path(f) %></li>
  <% end %>
</div><br><br>

<h2>MY LIQUOR CABINET</h2>
<div>
  <% @ingredients.each do |i| %>
    <li><%= link_to i.name, ingredient_path(i) %></li>
  <% end %>
</div><br><br>

<div class="menu">
  <li><a href=<%= recipes_path %> class="menuitem">Browse cocktails</a></li>
  <li><a href=<%= ingredients_path %> class="menuitem">Browse ingredients</a></li>
  <li> <%= link_to "Log out", logout_path, {method: :delete, :class=>"menuitem"} %> </li>
</div>

<p>
<%= button_to 'Edit profile', {action: 'edit'}, method: :get %>
</p>
<p>
<%= button_to 'Delete account', {action: 'destroy'}, method: :delete, data: {confirm: 'Are you sure?'} %>
</p>
</div>
