<h1>Welcome to your profile, <%= @user.full_name %>!</h1>
<hr>

<h2>FAVORITES</h2>
<div>
  <% @favorites.each do |f| %>
    <li><%= f.recipe.name %></li>
  <% end %>
</div>

<h2>MY LIQUOR CABINET MOFOS</h2>
<div>
    <% @ingredients.each do |i| %>
      <li><%= i.name %></li><br>
    <% end %>
</div>
<hr>
<%= button_to 'Edit profile', {action: 'edit'}, method: :get %>
<%= button_to 'Delete account', {action: 'destroy'}, method: :delete, data: {confirm: 'Are you sure?'} %>
